/*css 파일은 style 태그 내부에 작성한다 생각하고 코딩을 하면 됨*/

/*h1 태그 글자색 orange*/
h1 {
  color: orange;
}
/*
id = # 
div class = . 
*/
.test-div {
  /*
    border : 선
    solid  :실선
    none   :선없음
    */
  border: 3px solid black;
  width: 200px;
  height: 200px;
  background-color: lavender;
}
.test-div:active {
  background-color: yellow;
}
.테스트-div {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  background-color: #ddd;
  cursor: pointer;
}
.테스트-div:active {
  background-color: black;
  color: white;
  font-size: 30px;
}

.hover-box {
  border: 3px solid black;
  width: 200px;
  height: 200px;
  background-color: #ddd;
  cursor: pointer;
}
.hover-box:hover {
  /*
    background-color : 배경 색상 지정
    background-image : 배경 이미지 지정
    background-size : 배경 이미지 크기 지정
                      url("이미지주소입력하기")

              cover: 이미지를 확대하거나 축소해서 div크기에 맞게 설정  
    */
  background-image: url("../../HTML/cat.jpeg");

  background-size: cover;
}
.호버-박스 {
  border: 3px dotted orange;
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
  cursor: pointer;
}
.호버-박스:hover {
  background-image: url("../../HTML/flower1.jpg");

  background-size: cover;
  text-align: center;
  font-size: 30px;
  color: white;
  background-position: center;
}
