/*3순위 : 아이디 선택자*/
#아이디속성 {
  color: white;
  background-color: black;
}
/*4순위 : 클래스 선택자*/
.클래스속성 {
  background-color: green;
}
/*5순위 : 태그선택자*/
div {
  width: 200px;
  height: 200px;
  background-color: red !important; /*1순위 !important*/
}
/*important* 후임이나 신규개발자 송고의성이 다분 등 스타일의 속성이 의도한 바와 다르게 설정되는것을 ㅁ
방지하기 위해*/
