/*css의 경우 대부분 하나의 css 파일에서 작업을 진행
html 파일이나 또는 div로 묶은 css 스타일이 변경될 때 마다
주석으로 어떤 css 스타일인지 표기를 작성해주는 것이 예의
*/
/**************main page css*****************/

.banner {
  background-color: #8b4513;
  color: white;
  padding: 60px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.nav {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: #3e2723;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.nav a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: bold;
}
.nav a:hover {
  background-color: #5d4037;
  transition: background-color 0.3s;
}
/*메뉴 이외 소개 연락하기 섹션 섹션들의 공통 스타일 묶어서 디자인한 다음 적용
*/
.content {
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
}
/* 메뉴 스타일*/
.menu {
  display: flex;
  /*모바일 pc버전에서 반응형으로 화면이 보이기 때문에 많이 사용*/
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.menu-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.menu-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
/*span은 display=block 을 주지 않는 한 가로세로 크기를 조절할 수 없음
하지만 글자크기는 키울 수 있음

em(em square) 1em = 16px
화면에서 상대적인 크기를 지정할 수 있음

2em = 32px
2.5em = 40px
*/
.menu-item span {
  font-size: 1.5em; /*24px*/
  margin-right: 8px;
}
