body {
  text-align: center;
  margin-top: 50px;
}
.input-container {
  margin-bottom: 20px;
}
input {
  padding: 10px;
  width: 100px;
  font-size: 20px;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 25px;
  color: #333;
}
