body {
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 30px;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 500px;
}
label {
  width: 70%;
  font-size: 20px;
  display: block;
}
input {
  width: 70%;
  font-size: 20px;
}
button {
  background-color: lightblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}
