/*
html에 작성된 모든 값에 태그에 기존으로 갖고있는 성질을 모두 변화시킨다는 의미
margin:0; padding:0; 준다는것은 아래 모든 태크 클래스 아이디에
margin padding을 기본으로 0에서 시작하고 추가적으로 작성하고자 하는 
margin padding은 따로 작성해서 덮어쓰기를 진행하라는 표기
*/
.cotainer,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 360px;
  border: 1px solid black;
  margin: 50px 20px;
}

#chatting-bg {
  width: 100%;
  height: 400px;
  background-color: rgb(178, 199, 217);
  overflow: auto;
  /*overflow : 내부 내용이 감싸는 요소를 넘었을때 처리하는 속성
     auto    : 넘치기 전 -> 변화없음
               넘친 후 -> 스크롤 생성              
  */
}

p {
  margin: 20px 10px;
  text-align: right;
}

span {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(254, 234, 51);
}

#chatting-input {
  width: 100%;
  display: flex;
  height: 30px;
}
/*
#chatting-input > input 
#chatting-input div ㅏㅇㄴ에
input요소를 꾸며줌

#chatting-input > input ->
#chatting-input의 크기를 넘지 않는 기준으로 input 설정을
마음껏 할 수 있음 
*/
#chatting-input > input {
  height: 100%;
  width: 80%;
  outline: none;
  padding-left: 5px;
}
#chatting-input > button {
  height: 100%;
  width: 20%;
}
