* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  margin: 50px auto;
}

.key-box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border: 3px solid black;
}

.key {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px 0;

  font-size: 30px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  /*사용자가 특정 요소 텍스트를 선택하지 못하도록 설정
  아 속성을 사용하면 마우스로 텍스트를 드래그하거나 복사 x
  */
  user-select: none;
}
